# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
/typings

# misc
/.vscode
/.idea
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

# data
/.hoodie
