/*
* __________ Main rules __________
*/
body {
   background-color: #333;
}

.main-content {
   /*
   width: 60%;
   margin: 2% 20% 0;
   padding: 1%;
   border: 1px solid black;
   border-radius: 2%;
   */
   background-color: rgb(210,200,200);
}
/* ^^^^^^^^^^ Main rules ^^^^^^^^^^ */

/*
* __________ Journal __________
*/
.form, .journal {
   display: block;
}

.form {

}

.journal {
   width: 100%;
   padding: 1%;
   border: 1px dotted lightgrey;
   height: 300px;
   background-color: rgb(255,230,190);
   font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
   font-size: 15px;
   resize: vertical;
}

.journal > blockquote {
   border: none;
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 10%;
   padding: 0 8%;
}
/* ^^^^^^^^^^ Journal ^^^^^^^^^^ */

/**
* __________ Shadow __________
**/
.shadow
{
     position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
   content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
   right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
/* ^^^^^^^^^^ Shadow ^^^^^^^^^^ */
