/* @author: Johann Haaf */

/* <BASE> */
body {
	font-family: monospace;
}

.lt{
	float: left;
}

.rt{
	float: right;
}

.clr{
	clear: both;
}

.subheadline{
	text-align: center;
}

.checked{
	background: url("img/dot_filled.png") no-repeat !important;
}

.feedback{
	left: 35%;
	padding: 10px 40px 10px 40px;
    position: absolute;
    border: 1px solid #FFF;
    border-radius: 15px;
    z-index: 3;
    display: none;
	box-shadow: 3px 3px 5px grey;
}

.hint{
	background: url("img/background_grey.png") no-repeat;
	background-size: 100% 100%;
}

.success{
	background: url("img/background_green.png") no-repeat;
	background-size: 100% 100%;
}

.warning{
	background-color: black;
	color: yellow;
	box-shadow: 3px 3px 5px yellow;
}

.error{
	background-color: red;
	box-shadow: 3px 3px 5px #AA0000;
}

.borderR{
	border-right: 2px solid #ccc;
}

.blocktwofold{
	display: block;
    float: left;
    margin-left: 20px;
    position: relative;
    width: 385px;
}

.blockthreefold {
	position: relative;
	float: left;
	width: 245px;
	display: block;
	margin-left: 20px;
}

.roundbutton {
	border: 2px solid #ccc;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: #ccc;
	background-color: white;
	padding: 5px 10px;
	cursor: pointer;
}

.roundbutton.rt {
	position: relative;
    right: 20px;
}
/* </BASE> */

/* <ATTRIBUTES & SKILLS> */
.lblAttr,.lblSkill {
	display: inline-block;
	min-width: 110px;
}

.attrlist,.sklist{
	list-style: none outside none;
	display: inline-block;
	padding-left: 0;
	cursor: default;
}

.attr,.sk{
	background: url("img/dot_empty.png") no-repeat;
	cursor: pointer;
	display: inline-block;
	width: 12px;
	height: 13px;
	margin: -3px;
}
/* </ATTRIBUTES & SKILLS> */

/* <TEXT> */
.text {
	position: relative;
	width: 815px;
	padding-bottom: 10px;
}

.text .lblText{
	display: inline-block;
	min-width: 110px;
}

/*
.text .txtInput{
	width: 700px;
}
*/

#imgPortrait{
	display: none;
}
/* </TEXT> */

/* <Merits/Flaws> */
.meritsNflaws{
	position: relative;
	width: 815px;
	padding-bottom: 10px;
}

.meritsNflaws .selBox{
	width: 250px;
}

.meritsNflaws .selBox > option:checked{
	background: url("img/background_grey.png") repeat !important;
	font-weight: bold;
}

.meritsNflaws .selBox > option.chosen{
	background: url("img/background_grey.png") repeat !important;
}

.merits, .flaws{
	overflow: hidden;
}

.merits{
	padding-bottom: 20px;
	border-bottom: 2px solid #ccc;
}
/* </Merits/Flaws> */


/* <SAVE STATE> */
.saveData {
	position: relative;
	top: 10px;
	width: 815px;
}

.customBtn {
	position: relative;
	top: -2px;
	display: block;
	border: 1px solid black;
	width: 90px;
	height: 22px;
	text-align: center;
	padding: 3px;
	cursor: pointer;
	margin: 0 5px 5px 0;
}

#datafield{
	width: 815px;
	height: 200px;
}
/* </SAVE STATE> */

/* <TABS> */
.tab-box {
	list-style: none;
	position: relative;
	top: 30px;
}

.tab-box .liTab {
	display: inline;
}

.tab-box .tab {
	border: 1px solid #ccc;
	color: #444;
	display: block;
	float: left;
	left: 1px;
	margin-left: -1px;
	padding: 5px 10px;
	position: relative;
	text-decoration: none;
}

.tab-box .tab:hover {
	background-image: url("img/TabSelected.png");
	font-weight: bold;
}

.tab-box .tab-content {
	border: 2px solid #ccc;
	display: none;
	padding: 10px;
	position: absolute;
	top: 25px;
	z-index: -1;
}

.tab-box .liTab:target .tab-content,.tab-box .target .tab-content {
	display: block;
}

.tab-box .liTab:target .tab,.tab-box .target .tab {
	border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 0;
	font-weight: bold;
	min-width: 90px;
	background-image: url("img/TabSelected.png");
	z-index: 2;
}
/* </TABS> */

/* <TOOLTIP> */
.TooltipAbove, .TooltipBelow {
    position: relative;
}

.TooltipAbove[data-tooltip]:hover, .TooltipBelow[data-tooltip]:hover  {
    overflow:visible; /*just kick in extra render for ie*/
}

.TooltipAbove[data-tooltip]:before, .TooltipBelow[data-tooltip]:before {
    left: -15px;
    top: -45px;
    background: url("img/background_grey.png") no-repeat;
    background-size: 100% 100%;
    color: #000;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 15px;
    content: attr(data-tooltip);
    white-space: nowrap;
}

.TooltipAbove[data-tooltip]:after, .TooltipBelow[data-tooltip]:after {
    left: 0;
    top: -15px;
    border-top: 7px solid #DDD;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
}

.TooltipAbove[data-tooltip]:after, .TooltipAbove[data-tooltip]:before,
.TooltipBelow[data-tooltip]:after, .TooltipBelow[data-tooltip]:before {
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    display: none;
}

.TooltipAbove[data-tooltip]:hover:after, .TooltipAbove[data-tooltip]:hover:before,
.TooltipBelow[data-tooltip]:hover:after, .TooltipBelow[data-tooltip]:hover:before {
    display: block;
}

.TooltipBelow[data-tooltip]:before {
    top: 27px;
}

.TooltipBelow[data-tooltip]:after {
    top: 20px;
    border-bottom: 7px solid #DDD;
    border-top: none;
}
/* </TOOLTIP> */


/* <NAVIGATION TREEVIEW> OLD! */
/*span.resizer {
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	float: left;
}

span.resizer:hover {
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	float: left;
	opacity: 0.5;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

.navTree {
	display: block;
	background-color: #CCC;
	border: 3px solid #000;
	width: 200px;
}

.navLvl1 {
	list-style-type: none;
	border: 1px dashed #999;
}

.navLvl1 li {
	position: relative;
	clear: both;
	display: block;
	padding-top: 7px;
}

.navLvl1 li:hover {
	padding-top: 0;
	position: relative;
	clear: both;
	display: block;
	background-color: #FFF;
}

.navLvl2 {
	list-style-type: none;
	border: 1px dotted #999;
}

.navLvl2 li {
	position: relative;
	clear: both;
	display: block;
}

.navLvl2 li:hover {
	position: relative;
	clear: both;
	display: block;
	background-color: #EEE;
}

.navLvl3 {
	list-style-type: none;
	border: 1px groove #999;
}

.navLvl3 li {
	position: relative;
	clear: both;
	display: block;
}

.navLvl3 li:hover {
	position: relative;
	clear: both;
	display: block;
	background-color: #DDD;
}*/
/* </NAVIGATION TREEVIEW> 